.chats {
}

.chatLayout {
  display: flex;
  flex-direction: row;
}

.chatLeft {
  gap: 15px;
  width: 30%;
  margin: 40px;
  height: 500px;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgb(46, 44, 44);
}

.chatRight {
  width: 60%;
  margin: 40px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(46, 44, 44);
  max-height: 500px;
}

.view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.viewTab {
  width: 50%;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.viewTabActive {
  width: 50%;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  border-bottom: 3px solid #5E4291;
}

.publicChats {
  gap: 8px;
  display: flex;
  padding: 10px;
  font-size: 10px;
  overflow-x: auto;
  flex-direction: row;
}

.publicChats::-webkit-scrollbar {
  height: 8px;
  border-radius: 5px;
  background-color: #F5F5F5;
}
 
.publicChats::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #F5F5F5;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.publicChats::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 5px;
  background-color: #5E4291;
}

.chatList {
  gap: 10px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

/* Scrollbar Track */
.chatList::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar track */
}

/* Scrollbar Handle (Thumb) */
.chatList::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners of the scrollbar thumb */
}

/* Scrollbar Handle (Thumb) on Hover */
.chatList::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}


.chat {
  gap: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  flex-direction: row;
}

.chatActive {
  gap: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  flex-direction: row;
  background-color: #5E4291;
}

.chatInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatInfoChild {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.chatInfoChild p {
  opacity: 80%;
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.chatNotification {
  position: relative;
  background-color: #5E4291;
  border-radius: 50%;
  width: 50%;
  padding-bottom: 50%;
  text-align: center;
  align-self: flex-end;
}

.chatInfoChild span {
  top: 50%;
  left: 50%;
  margin: 0;
  opacity: 80%;
  padding: 5px;
  color: white;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  align-self: flex-end;
  transform: translate(-50%, -50%);
}

.chatImg {
  position: relative;
}

.chatImg img {
  border-radius: 25px;
}

.isOnline {
  bottom: 2px;
  right: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: greenyellow;
}

/* Loading spinner overlay styles */
.messagesOverlay {
  position: relative;
}

.loadingSpinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Ensure it's on top of messages */
}

.messagesContainer {
  max-height: 370px; /* Adjust to your preferred maximum height */
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Scrollbar Track */
.messagesContainer::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar track */
}

/* Scrollbar Handle (Thumb) */
.messagesContainer::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners of the scrollbar thumb */
}

/* Scrollbar Handle (Thumb) on Hover */
.messagesContainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
}

.messageNav {
  border-bottom: 2px solid #5E4291;
  padding: 10px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textInput {
  height: 40px;
  width: 400px;
  border: 3px solid #5E4291;
  border-radius: 8px;
  padding: 5px;
}

.messageLeft {
  height: auto;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  margin-right: 300px;
  background-color: gray;
}

.messageRight {
  height: auto;
  padding: 10px;
  margin-left: 80%;
  width: fit-content;
  border-radius: 5px;
  background-color: #5E4291;
}

.messageDate {
  font-size: 10px;
  opacity: 80%;
}

.messageForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.messageButton {
  background-color: #5E4291;
  padding: 5px;
  align-self: center;
  border-radius: 50%;
  width: 40px;
  height: 35px;
  border: none;
}

.messageIcon {
  max-width: 25px;
  max-height: 25px;
  color: white;
}

.conversation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.noConversation {
  text-align: center;
}
.chatBoxImg {
  width: 50%;
}