.chats {
}

.chatLayout {
  display: flex;
  flex-direction: row;
}

.chatLeft {
  margin: 40px;
  height: 500px;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(46, 44, 44);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30%;
}

.chatRight {
  margin: 40px;
  width: 60%;
}

.publicChats {
  display: flex;
  font-size: 10px;
  flex-direction: row;
  gap: 8px;
  overflow-x: auto;
  padding: 10px;
}

.publicChats::-webkit-scrollbar {
  height: 8px;
  border-radius: 5px;
  background-color: #F5F5F5;
}
 
.publicChats::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 5px;
}
 
.publicChats::-webkit-scrollbar-thumb {
  background-color: #5E4291;
  border-radius: 5px;
  width: 4px;
}

.chatList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatPop {
  background-color: #5E4291;
  border-radius: 10px;
  width: fit-content;
  padding: 7px;
  position: relative;
}

.isOnline {
  position: absolute;
  top: -3px;
  right: 3px;
  background-color: greenyellow;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.chat {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.chatActive {
  background-color: #5E4291;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.chatInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.chatInfoChild {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatInfoChild p {
  font-size: 10px;
  font-weight: 500;
  color: white;
  opacity: 80%;
}

.chatNotification {
  position: relative;
  background-color: #5E4291;
  border-radius: 50%;
  width: 50%;
  padding-bottom: 50%;
  text-align: center;
  align-self: flex-end;
}

.chatInfoChild span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 10px;
  font-weight: 500;
  color: white;
  opacity: 80%;
  padding: 5px;
  align-self: flex-end;
}

.chatImg img {
  border-radius: 25px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messageNav {
  background-color: rgb(46, 44, 44);
  padding: 10px;
  height: 60px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  justify-content: space-around;
}

.textInput {
  height: 40px;
  width: 400px;
  border: 3px solid #5E4291;
  border-radius: 8px;
  padding: 5px;
}

.messageLeft {
  background-color: #5E4291;
  height: auto;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin-right: 300px;
}

.messageRight {
  background-color: gray;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  margin-left: 80%;
  width: fit-content;
}

.messageForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.messageButton {
  background-color: #5E4291;
  padding: 7px;
  border-radius: 8px;
  border: none;
}

.conversation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.noConversation {
  text-align: center;
}
.chatBoxImg {
  width: 70%;
}