.nav {
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: rgb(60, 58, 58);
  width: 95%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navRight {
  display: flex;
  flex-direction: row;
  gap: 5px;
}