.auth {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 280px;
}

.userInput {
  border: none;
  height: 40px;
  width: 90%;
  border-radius: 5px;
  padding: 5px;
  outline: 0px;
}

.userSubmit {
  background-color: purple;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  width: 90%;
  height: 40px;
}