.auth {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 280px;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.userInput {
  border: none;
  height: 40px;
  width: 90%;
  border-radius: 5px;
  padding: 5px;
  outline: 0px;
}

.userSubmit {
  background-color: purple;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  width: 90%;
  height: 40px;
}