.main {
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* color: var(--text-color);
  background-color: var(--background-color); */
}

.rightTop {
  position: absolute;
  right: 50px;
  top: 50px;
}

.brandHeader {
  font-size: 30px;
  color: #5E2491;
  font-weight: 600;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
  width: 450px;
  height: 300px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid rgb(182, 180, 180);
  padding-top: 30px;
}

.currentImage {
  width: 50px;
  padding: 2px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  border: 2px dotted rgb(182, 180, 180);
}

.currentImageSelected {
  width: 50px;
  padding: 2px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  border: 2px solid #5612C4;
}

.containerText {
  font-family: 'DM Sans', sans-serif;
  font-size: 18 px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.avatarText {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.images {
  gap: 12px;
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.image {
  position: relative;
  width: 40px;
}

.imageSelected {
  position: relative;
  border-radius: 50%;
  height: 49px;
  border: 2px solid #5612C4;
  transition: 0s ease-in;
}

.selected {
  position:absolute;
  width: 10px;
  height: 10px;
  right: 0px;
  bottom: 7px;
}

.selectedCurrent {
  position:absolute;
  right: 1px;
  bottom: 7px;
}

.submitButton {
  gap: 12px;
  width: 450px;
  display: flex;
  padding: 10px 25px;
  align-items: center;
  border-radius: 12px;
  background: #5612C4;
  justify-content: center;
  color: white;
}